:root {
  --board-size: 100vw; /* Default size */
}

#chessboard-container {
  width: var(--board-size);
  height: var(--board-size);
  margin: 0 auto; /* Center the board */
  display: flex;
  justify-content: center;
  align-items: center;
}
